/* Style.CSS */
/* Authors: Will Inglis, Grace Kim, Esther Kim */
/* Date Created: May 30th, 2022 */
/* APST 62 Collab Project */
/*
Colours: 
green - #006631
light green - #81B499
darkblue - #173158
white - #FFFFFF
dark gray - #1E1A108
*/

html, body {
    background: whitesmoke;
    /* Font source: https://fonts.google.com/specimen/Roboto */
    font-family: 'Open Sans','Lato',"Avenir Next","Avenir","Helvetica Neue",sans-serif;
    height: 100%;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}

main{
    padding-top: 2%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
/* To make sure Methodology page headers do not get covered by bar */
@media (max-width: 1000px) {
  main {
    padding-top: 105px;
  }
}
section{
    padding-bottom: 20px;
}
h1, h2, h3 {
  font-family: "Lato";
}
h1{
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 2.2em;
}
h2{
    color: #a3a8ac;
    font-weight: 100;
    font-size: 1.8em;
}
h3 {
    color: #394352;
    font-weight: 500;
    font-size: 1.3em;
}
p {
    color: darkgrey;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
}
footer {
    background-color: #111212; /*Refresh Black*/
    position: absolute;
    text-align: center;
    width: 100%;
}
#footer {
    color: #f9fbfc;
    font-size: 0.8em;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive{
   max-width: 100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

/* nav bar */
body {
	padding: 0;
	margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
	position: fixed; 
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	/* padding: 0 5%; */
	height: 50px;
	/* background-color: #173158 */
  /* background-color: #f9fbfc; */
  background-color: whitesmoke;
}
/* Change colour in "About Us" page */
.otherNav {
  background-color: #57677d;
}
nav .logo {
	float: left;
	/* width: 40%;
	height: 100%; */
	display: flex;
	align-items: center;
	font-size: 20px;
  /* color: #f9fbfc; */
  color: #173158;
}

nav .picture {
	float: left;
  margin: 50px;
	width: 40%;
	height: 90%;
	display: flex;
	align-items: center;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display:block;
	padding: .5em;
	font-size: 18px;
	/* font-weight: 300; */
  /* color: #f9fbfc; */
  color: #173158;
	text-decoration: none;
}
/* Change background colour when hovering over link */
nav .links a:hover {
  background-color: lightblue;
  border-radius: 5px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	position: absolute;
	display: none;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}


nav .icon-burger .line {
	width: 30px;
	height: 5px;
	/* background-color: #fff; */
  background-color: #173158;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
  display: block;
}

/*Media query will give a tailored experience to different devices */

@media screen and (max-width: 1200px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links{
		/* float: none; */
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		/* top: 100px; */
    top:90px;
		bottom: 100%;
		width: auto;
    height: auto;
    display: flex;
		flex-direction: column;
		/* justify-content: space-evenly; */
		/* background-color: rgba(0,0,0,.8); */
    background-color: rgb(255,255,255,.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}
	nav .links a{
		font-size: 20px;
	}
	nav :checked ~ .links {
		/* bottom: 0; */
    width: 100%;
		height:fit-content;
    /* height: 100%; */
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}

/* DROPDOWN MENU */

/* .services {
position: relative;
} */

/* Dropdown content (hidden by default)*/
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #173158; */
  background-color: rgb(255,255,255,.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li + li {
margin-top: 16px;
}

.dropdown-content li {
padding: 0.5em 1em;
width: 8em;
text-align: center;
}

.services:hover > .dropdown-content {
display: block;
}
.services, .dropdown-content {
  padding: 0;
  list-style-type: none;
}
.inner-dropdown {
  padding: 0.5em 1em;
}

/*RESPONSIVE NAVBAR MENU*/

/* end of nav bar*/		

/*Start of Banners*/

/*Banner for index page*/
.containerb {
	position: relative;
	margin-top: 100px;
  
}
.containerb img{
  display: block;
  height: 750px;
  width: 100%;
  opacity: 0.6;
}

/*Banner for methodology page*/
.containera{
	position: relative;
	margin-top: 100px;
  
}
.containera img{
  display: block;
  height: 600px;
  width: 100%;
  opacity: 0.6;
}

/* End of banners*/

/* CSS for About us Page */

#aboutus{
  font-size: 4rem;
  color:rgb(0, 0, 0);
  font-style: bold;
  padding-bottom: 50px;
}

#whoarewe{
  font-size: 2rem;
  color:black;
  font-style: bold;
  text-decoration: underline;
}
#nameid{
  font-size: 3rem;
  color:black;
  font-style: bold;
}

#gisappspec{
  font-size: 1.5rem;
  color:rgb(44, 44, 44);
  font-style: italic;
}

.aboutourself{
  color: rgb(70, 70, 70);
}

 .background1 {
    background: #8896a9;
 }

.container2{
  margin: 2rem;
  width: 100%; 
}

.center{
  justify-content: center;
  padding: 3rem;
  color:  #000;
  align-items: center;
  text-align: center;
}

.center h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.center p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 1.3;
}
  
 button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #f9fbfc;
    background: #1E1A10;
    cursor: pointer;
    border-radius: 50px;
 }
  
 button:hover {
    background: #fff;
    color: #1E1A10;
 }
  
/* StoryMap specific css */

.storymapH1{
	font-size: 3rem;
	color: #ebf2f7;
	font-weight: bold;
}

.storymapH2{
	font-size: 2rem;
	color: #a3a8ac;
	margin-bottom: 1rem;
}

.storymapfont{
	font-size: 1rem;
	color: white;
}

.buttonlink{
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonlink:hover, .buttonlink:active {
  background-color: red;
}

.storyexp{
  color: yellow;
  text-decoration: underline;
}

/* Image configuration for Experience Builder page */

.image-container {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.image-container-row {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 1em;
}
@media screen and (max-width: 1150px) {
  .image-container-row {
    grid-auto-flow: row;
  }
}
.containImage {
  max-width: 100%;
  padding: 2%;
  display: grid;
  justify-items: center;

}
.containerText {
  text-align: center;
  max-width: 65ch;
}
#textColour {
  color: black;
}
#mainTitle {
  font-weight: 300;
  top: 50%;
  left: 50%;
  font-size: 2.5em;
}
#picturetext1 {
  position: absolute; 
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 5em;
  color: black;
}

#picturetext2 {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 2.5em;
  color: black;
}

.countybrant img {
  display: block;
  margin: 0 auto;
  width: 50%;
}